<button
  mat-raised-button
  color="primary"
  style="position: absolute; right: 150px; top: 20px"
  (click)="newEmployeePopup()"
>
  <span class="material-icons">add</span>
  New Employee
</button>
<br />

<div
  class="toolbar"
  style="margin-left: 100px; margin-right: 25px; display: inline-block"
>
  <h1>Employees</h1>
  <h3 *ngIf="!employees.length">No employees</h3>
  <h3 *ngIf="employees.length === 1">There is 1 employee</h3>
  <h3 *ngIf="employees.length > 1">
    There are {{ employees.length }} employees
  </h3>
</div>

<div *ngIf="employees.length" style="display: inline-block">
  <input
    class="searchInput"
    [(ngModel)]="searchValue"
    (input)="applyFilter($event.target.value)"
    placeholder="Search..."
  />
</div>

<div
  *ngIf="!employees.length"
  style="position: absolute; left: 30%; top: 20%; text-align: center"
>
  <img src="../../assets/images/no-data.jpg" />
  <br />
  There is nothing here
  <br />
  <br />
  Create a new employee by clicking the <b>New Employee</b> button to get
  started
</div>

<table
  *ngIf="employees.length"
  style="margin-left: 100px; width: 80%"
  class="employee-table"
>
  <tr
    *ngFor="let employee of employees; let index = index"
    class="employeeRow"
    [ngClass]="
      shouldShow(employee, searchValue)
        ? { display: 'block' }
        : { display: 'none' }
    "
    (click)="editEmployeePopup(employee, index)"
  >
    <td style="width: 15%">
      <div class="numberCircle">{{ index + 1 }}</div>
    </td>
    <td style="width: 25%">{{ employee.firstName }}</td>
    <td style="width: 25%">{{ employee.lastName }}</td>
    <td style="width: 25%">{{ employee.contactNo }}</td>
    <td style="width: 10%">
      <span
        class="material-icons"
        (click)="deleteEmployee(employee.ID, $event)"
        style="margin-top: 20px"
        >delete</span
      >
    </td>
  </tr>
</table>
